name: flutter_draggable_gridview
description: This package helps you to add drag & drop functionality to existing Gridview.builder.
version: 0.0.14
repository: https://github.com/Mindinventory/flutter_draggable_gridview
issue_tracker: https://github.com/Mindinventory/flutter_draggable_gridview/issues

environment:
  sdk: '>=3.1.3 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true